{% if j3 is not defined %}
	<style>
		body {
			display: none !important;
		}
	</style>
	<script>
		window.location = 'index.php?route=journal3/startup/error';
	</script>
{% endif %}
{{ j3.loadController('journal3/layout', 'bottom') }}

{% if not j3.document.isPopup() %}

	<footer>
		{{ footer_menu }}
	</footer>

{% endif %}</div><!-- .site-wrapper -->{{ j3.loadController('journal3/layout', 'bottom_menu') }}{{ j3.loadController('journal3/layout', 'side_menu') }}{{ j3.loadController('journal3/layout', 'notification') }}{% for script in j3.document.getScripts('footer') %}
<script src="{{ j3.document.staticUrl(script, false) }}" {% if j3.settings.get('performanceJSDefer') %} defer {% endif %}></script>{% endfor %}{% if j3.settings.get('customJS') %}
<script type="text/javascript">{{ j3.settings.get('customJS') }}</script>{% endif %}{% if not j3.document.isPopup() and j3.settings.get('customCodeFooter') %}
{{ j3.settings.get('customCodeFooter') }}{% endif %}{% if not j3.document.isPopup() and j3.settings.get('scrollTop') %}
<div class="scroll-top">
	<i class="fa fa-angle-up"></i>
</div>{% endif %}<style>
/* footer last menu custom css */
.links-menu-72 .module-body,
.links-menu-384 .module-body {
	list-style-type: none;
	text-align: center;
}
.links-menu-72 .module-body li,
.links-menu-384 .module-body li {
	display: inline-block !important;
	text-align: center;
}
.links-menu-72 .module-body li a {
	color: #ddd;
	text-decoration: none;
	font-size: 12px;
	padding: 10px 2em 5px 1px;
	text-align: center;
}
.links-menu-384 .module-body li a {
	text-decoration: none;
	padding: 10px 5em 5px 1px;
	text-align: center;
}
.links-menu-384 .module-body {
	padding-left: 5em;
	padding-bottom: 5px;
	padding-top: 5px;
}
.links-menu-391 .module-body li a {
	color: #111;
	text-decoration: none;
	text-align: center;
	height: 90px;
	width: 90px;
	background: #f5f5f5;
	border-radius: 50%;
	margin: 20px;
	font-size: 45px !important;
}
.links-menu-391 .module-body li a:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px !important;
}</style>


<style>
	/* card eleemnts custom css */
  .icons-menu-385 {
    margin-top: -120px !important;
    margin-bottom: -40px !important;
  }
	.icons-menu-385 .icon-menu-image img {
		background: rgba(140, 187, 13, 0.993) !important;
		border-radius: 5%;
		position: relative;
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px !important;
    padding: 10px;
    margin: auto;
	}
  .icons-menu-385 .icon-menu-image .links-text {
    color: #111 !important;
  }
  .icons-menu-385 .icon-menu-image img:hover {
    background: #555 !important;
		border: 2px solid rgba(140, 187, 13, 0.993);
  }

	.first-items .caard-item .card-item-img {
		width: 100px;
		height: 100px;
		background: rgba(140, 187, 13, 0.993);
		margin: auto;
		border-radius: 5%;
		position: relative;
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px !important;
	}
	.first-items .caard-item .card-item-img .img-active {
		display: none;
	}
	.first-items .caard-item .card-item-img:hover {
		background: #111;
		border: 2px solid rgba(140, 187, 13, 0.993);
	}
	.first-items .caard-item .card-item-img:hover .img-active {
		display: block;
	}
	.first-items .caard-item .card-item-img:hover .normal {
		display: none;
	}
	.first-items .caard-item {
		text-align: center;
	}
	.first-items .caard-item .card-item-text {
		font-weight: 800;
	}
	.first-items .caard-item .card-item-img img {
		object-fit: contain;
		object-position: middle;
		width: 100px;
		height: 90px;
		padding: 0.5em;
	}

	/** home slide custom css */
	.module-master_slider-333 .ms-view {
		border-radius: 3em;
		box-shadow: rgba(50, 50, 93, 0.55) 0 13px 27px 5px, rgba(0, 0, 0, 0.5) 0 8px 16px -8px;
	}
	.ms-slide {
		border-radius: 3em;
	}
	.ms-time-bar {
		display: none;
	}

	/** module module-catalog-119 css custom */
	.module-catalog-119 .title.module-title {
		text-align: center;
		text-transform: capitalize;
	}
	.grid-item-top-3-1-1 {
		margin-bottom: 80px;
	}
	.grid-item-top-3-1-1 .module-item {
		width: 100px !important;
		height: auto !important;
		font-size: 11px;
		text-align: center;
		margin: auto;
	}

     /** categories page css */
	.grid-item-top-3-1-1 .module-categories-426 .module-item {
		width: 100% !important;
		height: auto !important;
		font-size: 11px;
		text-align: center;
	}
	.module-categories-426 .category-layout,
	.module-categories-433 .category-layout {
		padding: 5px !important;
	}
	.module-categories-426 .category-thumb {
		box-shadow: rgba(0, 0, 0, 0.24) 0 9px 24px !important;
	}
	.module-products-432 .nav-tabs>li {
		padding: 7px !important;
	}
	@media screen and (max-width: 1024px) {
		.module-products-432 .nav-tabs {
		    justify-content: unset !important;
	    }
	}

	ul.nav-tabs>li:first-child, 
	ul.nav-tabs>li:last-child,
	html[dir=rtl] ul.nav-tabs>li:first-child,
	html[dir=rtl] ul.nav-tabs>li:last-child {
		border-radius: 10px;
	}

	.product-layout.swiper-slide {
		padding-bottom: 25px;
	}
	
	/** categories page css */

	.grid-item-top-3-1-1 .module-item .item-content, 
	.module-catalog-429 .item-content{
		text-align: center;
	}
	.grid-item-top-3-1-1 .module-item .item-content .catalog-title {
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.grid-item-top-3-1-1 .module-item .item-content img,
	.module-catalog-429 .catalog-image img {
		min-width: 100px !important;
		min-height: 100px !important;
		object-fit: scale-down;
		margin: auto;
	}
	.module-catalog-429 .catalog-image{
		margin: auto;
	}
	.grid-item-top-3-1-1 .module-item .item-content .subitems,
	.module-catalog-429 .item-assets .subitems {
		display: none;
	}
	
	.catalog-title {
		display: block !important;
	}
	.module-catalog-119 .catalog-title {
		margin-right: 0 !important;
	}
	.item-assets {
		display: block !important;
	}

	/** banners custom css */

	.module-products-360 {
		margin-bottom: 50px;
	}

	.module-banners-323 .module-item:not(.swiper-slide),
	.module-banners-365 .module-item:not(.swiper-slide) {
		width: 100% !important;
	}

	/* first product caroussel custom css */
	.module-products-359 .product-grid .product-thumb, 
	.module-products-360 .product-grid .product-thumb,
	.module-products-381 .product-grid .product-thumb,
	.module-products-390 .product-grid .product-thumb,
	.module-products-257 .product-grid .product-thumb,
    .module-products-400 .product-grid .product-thumb,
	.module-products-415 .product-grid .product-thumb,
	.module-products-417 .product-grid .product-thumb,
	.module-products-420 .product-grid .product-thumb,
	.module-products-418 .product-grid .product-thumb,
	.module-products-423 .product-grid .product-thumb,
	.module-products-432 .product-grid .product-thumb,
	.module-products-431 .product-grid .product-thumb,
	.module-products-430 .product-grid .product-thumb,
	.module-products-435 .product-grid .product-thumb
    {
		border-radius: 15px !important;
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px !important;
	}
	.module-products-359 .product-grid .product-thumb,
	.module-products-390 .product-grid .product-thumb,
    .module-products-400 .product-grid .product-thumb,
	.module-products-415 .product-grid .product-thumb,
	.module-products-418 .product-grid .product-thumb,
	.module-products-423 .product-grid .product-thumb,
	.module-products-432 .product-grid .product-thumb,
	.module-products-430 .product-grid .product-thumb
	{
		margin: 5px !important;
	}
	.module-products-360 .product-layout.swiper-slide, 
	.module-catalog-429 .module-item.swiper-slide {
		margin: 5px;
	}
	.module-products-360 .product-grid .product-thumb .product-img {
		border-width: 0 !important;
	}

	/** home coupon zone custom css */
	.grid-col-top-4-8 {
		position: relative;
		height: 350px;
	}
	/** brands custom css */
  .grid-item-top-6-1-2 .manufacturer-thumb .image {
    border-radius: 7px !important;
    padding: 20px;
    background: #f5f5f5 !important;
  }
	.category-thumb .image,
	.grid-item-top-6-1-2 .manufacturer-thumb .image img {
		border-radius: 7px !important;
	}
	.grid-item-top-6-1-2 .manufacturer-thumb .caption {
		display: none;
	}
	.module-manufacturers-317 .manufacturer-layout:not(.swiper-slide),
  .module-manufacturers-402 .manufacturer-layout:not(.swiper-slide)  {
		padding: 6px !important;
	}
	/** categories css custom */
	.module-categories-372 .category-thumb {
		padding: 10px;
	}

	.module-categories-379 .category-layout:not(.swiper-slide) {
		padding: 10px
	}
	.module-grid-392 .grid-row-1 .grid-col-1 {
		margin-top: -100px;
	}
	.colCounter{
		margin-top: -10px;
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	.colCounter label {
		background: #fff;
		color: #222;
		margin: 15px;
		padding: 15px;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 40px;
		font-weight: bold;
		border-radius: 15px;
	}
	.date-couter {
		display: none;
	}
</style>


<script>
$(document).ready(function () {
$(".links-menu-72 .links-menu-item").removeClass("menu-item")
$(".links-menu-384 .links-menu-item").removeClass("menu-item")
$(".links-menu-391 .links-menu-item").removeClass("menu-item")

let headerMenu = $("footer .grid-row-1").html()
$("footer .grid-row-1").hide()
$(".custom-menu-div").html(headerMenu)

let counterend = $('.date-couter').text()
if (counterend) {

setInterval(function () {
let today = new Date()
let endedDate = new Date(counterend);

var one_day = 1000 * 60 * 60 * 24;
var one_hour = 1000 * 60 * 60;
var one_minute = 1000 * 60;

let dayLeft = Math.ceil((endedDate.getTime() - today.getTime()) / (one_day))
let hourLeft = Math.ceil((endedDate.getTime() - today.getTime()) / (one_hour))
let minuteLeft = Math.ceil((endedDate.getTime() - today.getTime()) / (one_minute))

$("#day-counter").text(((dayLeft - 1) < 10) ? '0' + (
dayLeft - 1
) : (dayLeft - 1))
$("#day-counter2").text(((hourLeft - 1) < 10) ? '0' + (
hourLeft - 1
) : (hourLeft - 1))
$("#day-counter3").text(((60 - today.getMinutes()) < 10) ? '0' + (
Math.ceil(60 - today.getMinutes())
) : (60 - today.getMinutes()))
}, 1000)
}
})</script></body></html>
